:root {
    --primary: indianred;
    --secondary: rgba(15, 10, 29, .849);
    --light: #2f3640;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.product-intro{
    text-align: center;
    text-decoration: underline;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem; 
    margin: 4rem 0;
}


.card {
    flex: 1 1 calc(25% - 1.5rem); 
    padding: 1rem;
    border: 2px solid #2f3640;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}


.card img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out; 
}

.card h1 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.card p {
    color: grey;
    font-size: 0.9rem;
}


.card button {
    color: rgb(255, 255, 255);
    background-color: var(--secondary);
    border: none;
    outline: none;
    padding: 9px 90px;
    margin-top: 15px;
    cursor: pointer;
}

.card:hover img {
    transform: scale(1.05);
}

.card:hover h1 {
    color: var(--primary);
}


@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 1.5rem);
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%; 
    }
}
